body {
  background-color: white;
}
.avaphoto {
  width: 200px;
  border-radius: 25px;
}
  .stas1 { margin:0px; word-spacing:2 ;/* font-style:italic ;text-transform: capitalize;*/letter-spacing: 1;
  h1
  font-size: 35px;
  color: blue;
  }
  h2 {
    color: green;
    font-size: 30px;
  }
  h3 {
    color: red;
    font-size: 33px;
  }
  p {
    font-size: 33;
    color: blues;
  }
  h4 {
    color: red;
    font-size: 33px;
    .conteiner {  max-width:750px;margin:auto; }
} /*box-model*/ 
.social { background: green;

}